:root{
    --bg-color:white;
    --txt-color:#2970e2;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');



body{
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito Sans', sans-serif;
    background: linear-gradient(to left, #333399, #ff00cc);
    overflow: visible;
}

.header-index{
    height: 30px;
    width: 100%;
    background-color: var(--bg-color);
    padding-top: 4px;
    padding-bottom: 4px;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*box-shadow: 0px 0px 0px 1px rgb(146, 146, 146);*/
   
}
.header-index-2{
    position: fixed;
    top: 0px;

}
.contact-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -40px;
}
.header-href{
    font-size: 20px;
    text-decoration: none;
    color: var(--txt-color);
    margin-right: 30px;
    display: inline-block;
    padding: 3px 2px;
    position: relative;
}
.header-href:after{    
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--txt-color);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .header-href:hover:after{ 
    width: 100%; 
    left: 0; 
  }

  .hover-red:hover{
    background-color: darkred;
}
.hover-red{
    background-color: red;
}
.header-contact{
    font-size: 20px;
    text-decoration: none;
    background-color: var(--txt-color);
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 10px;
    color: white;
    transition: all 0.5s !important;
}
.header-contact:hover{
    box-shadow: inset -140px 0px 0px #104fb4;
    transition: 285ms;
}

.contact-us{
    box-shadow: 0px 0px 0px 5px var(--txt-color);
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    background-color: whitesmoke;
    border-radius: 10px;
    padding-left: 65px;
    padding-right: 65px;
}
.image-middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes mailer{
    0%{
        transform: scale(-1);
    }
    100%{
        transform: scale(1);
    }
}
.wrong-password{
    color: red;
    border-bottom-color: red;
}
@keyframes zoomout {
    from {transform:scale(1)}
    to {transform:scale(0);display: none;}
  }
.reverse{
animation: zoomout .5s ;
}
.contact-headline{
    display: block;
    text-align: center;
    color: var(--txt-color);
    font-size: 40px;
    text-transform: uppercase;
}
.form-index,.password-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input-box{
    border: none;
    outline: none;
    border-bottom: 1px solid var(--txt-color);
    padding: 10px;
    font-size: 16px;
    color: var(--txt-color);
    background-color: transparent;
    margin-top: 40px;
    width: 400px;
}
#passowrd{
    width:450px;
}
.overlay-opacity{
    animation: overlaypaciti 10ms;
}
#new-overlay{
    animation: loadoverlay 300ms;
}
@keyframes overlaypaciti{
    from{opacity: 1;}
    to{opacity: 0;display: none;}
}
@keyframes loadoverlay{
    from{opacity: 0;}
    to{opacity: 1;display: flex;}
}
#show-password{
  display: none;
}
.save-animations i{animation: savebtn 250ms;}
@keyframes savebtn{
    from{opacity: 0;font-size: 23px;text-shadow: 0px 0px 2px rgb(0, 0, 0);}
    to{opacity: 1;display: flex;font-size: 27px;text-shadow: 0px 0px 2px rgb(0, 0, 0);}
}
::placeholder{
    font-size: 16px;
    color: var(--txt-color);
}
.submit-button{
    border: none;
    outline: none;
    border: 1px solid whitesmoke;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    color: whitesmoke;
    margin-top: 50px;
    background-color: var(--txt-color);
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
}

.forma-contact{
    flex-direction: row;

    
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;


}
.hed-line{
    color: white;
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     height: 500px;
     width: 500px;
     display: flex;
     align-items: flex-start;
     flex-direction: column;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;

}
.form-margin{
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
}
#message{
    font-size: 18px;
    margin-top: -30px;
}
.hed-line p,.fa-envelope{
    margin-left: 50px;
    text-transform: none;

}
.fa-envelope{
    margin-top: 100px;
}

.body-animation,.index-body{
    background: #ff00cc;  /* fallback for old browsers */

background: linear-gradient(to left, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#submit{
    animation: pulse 1s ease infinite;
}
@keyframes pulse{
    0%{
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);      
    }

    100%{
        box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    }
}

.footer{
    position: fixed;
      bottom: 0px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    /*box-shadow: 0px 0px 0px 1px rgb(146, 146, 146);*/
    
}
.f-icon{
    font-size: 25px;

}
#create-acc{
    color:var(--txt-color)
}
.index-imagee{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.chose-file{
    border: 2px dashed var(--txt-color);
    border-radius: 10px;
    padding: 10px;
    margin-top: 40px;
    width: 400px;
    text-align: center;
    font-size: 20px;
    color:var(--txt-color);
    font-weight: 900;
}
.hide-file {
   display: none;
}
.body-context{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
}
.set-class{ 
    width: 500px;
    background:  rgba(255, 255, 255, 0.8); 
    border-radius: 13px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    margin-top: 30px;
}
.margin-file{
    margin-top: 0px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0px;
}

.proile-image{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border:1px solid var(--txt-color)
}
.user-logged-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
#usernamename{
    margin-right: 10px;
    color:var(--txt-color)
}

.setting-button{
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    text-align: left;
    margin-top: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.flex-down{
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px;
    padding: 10px;
}
.delete{
    color: red;
}
.top-mrg{
    margin-top: 0px;
}
.input-box-new{
    border: none;
    outline: none;
    border-bottom: 1px solid var(--txt-color);
    padding: 10px;
    font-size: 16px;
    color: var(--txt-color);
    background-color: transparent;
    margin-top: 10px;
    width: 90%;
}

.popup{
   width: 400px;
   height: fit-content;
   background:  rgba(255, 255, 255, 1); 
   justify-content: flex-start;
   flex-direction: column;
   padding: 20px;
   z-index: 99999999999;
   animation: zoom .5s;
   position: fixed;
   display: flex;
}

.new-mail{
    border: none;
    outline: none;
    border: 1px solid whitesmoke;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    color: whitesmoke;
    margin-top: 20px;
    background-color: var(--txt-color);
    padding-left: 20px;
    padding-right: 20px;

}
.set-displ{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    z-index: 99999999999;
}

.overlay-pop-up{
    background:  rgba(0, 0, 0, 0.6); 
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    z-index: 2;
    display: none;
}
.flex-button{
    margin-right: -145px;
    display: flex;
    justify-content: flex-start;
}

.new-mail:hover{
    background:  rgb(0, 74, 172); 
    transition: 285ms;
}

.new-color-3{
    color: rgb(0, 74, 172);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
    
}

.texts{
    max-width: 250px;
    height: fit-content;
    display: flex;
    height: fit-content;
    color: rgb(0, 74, 172);
    font-weight: 900;
}

.delete-ex{
    display: flex;
    justify-content: center;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
.set-padding{
    justify-content: flex-start;
    padding-left: 15px;
}
.l-margin{
    margin-left: 20px;
}
.green{
    color: rgb(0, 150, 0);
}
.flex-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100;
    margin-left: -10px;
}
.column-gird{
  flex-direction: column;
  justify-content: flex-start;
}
.main-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.progress-div{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}
.progressBar{
    width: 50%;
}
.update-button{
    background-color: rgb(0, 214, 0);
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    
}
.update-button:hover{
    background-color: rgb(4, 145, 4);
    transition: 285ms;
}
.register-now{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.reset-password{
    color: red;
    cursor: pointer;  
}

.connect-button{
    width: 100%;
    margin-top: 10px;
}
.new-color{
    color: rgb(11, 194, 5);
}
#percentage{
    margin-left:10px ;
    color: rgb(11, 194, 5);
}
.top-create{
    margin-top: 50px;
}


.nat{
    display: none;
}
@media only screen and (max-width:700px) {

    .set-class{
        width: 90%;
    }
    .input-box{
        width: 100%;
    }
    .contact-us{
        width: 85%;
        padding: 0px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        box-shadow: 0px 0px 0px 1px var(--txt-color);
    }
    .register-now{
        font-size: 14px;
    }
    .form-index{
        width: 80%;
    }
    .submit-button{
        padding: 7px;
    }
    .contact-headline{
        font-size: 25px;
    }
    .top-create{
        margin-top: 30px;
    }
    .header-index{
        height: 30px;
    }
    .forma-contact{
        flex-direction: column; width: 90%;
    }
    .form-margin{
        padding-left: 5px;
        padding-right:5px;
    }
    .hed-line{
        padding: 10px;
     width:95.8%;
     font-size: 25px;
     height: 200px;

    }
    .hed-line p{
        margin-left: 5px;
    }
    .fa-envelope{
        margin-top: 10px;
    }
    #message{
        font-size: 18px;
        margin-top: -10px;
    }
    .submit-responsive{
        width: 100%;
        margin-bottom: 20px;
    }
    .body-context{
        margin-top: 0px;
    }
    .popup{
        width: 70%;
    }
    .flex-button{
        margin-right: -27px;
    }
    .set-class{
        margin-top: 10px;
    }
    
}
#load-animations{
    display: none;
}
#login-buttom:hover,#create-account:hover,#submit:hover{
   background-color: #333399;
    transition: 285ms
}
.storage-article{
    background:  rgba(255, 255, 255, 0.8); 
    border-radius: 5px;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
    padding-bottom: 10px;
    margin-top: 20px;
   /* animation: zoomer 285ms;*/
}
@keyframes zoomer{
    from{    transform:scale(.6)}
    to{    transform:scale(1)}
}
.artcile-header,.post-options{
    width:95%;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.user-header-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-profile-image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 1px grey;
}
.user-username,.post-name{
    font-size: 14px;
    color: black;
    margin-left: 7px;
}
.fa-ellipsis-v,.fa-download,.fa-trash-alt,.fa-bookmark,.fa-eye{
    font-size: 27px;
    color: black;
    margin-right: 10px;
}
.fa-eye{
    margin-right: 0px;
}
.left-options{
    display: flex;
    justify-content: center;
}
.article-description{

    width: 98%;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    display:inline-flex;
    align-items: flex-start;
 justify-content: flex-start;
   

}
.post-name{
    color:navy;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}



.storage-posts-reference{
    display: none;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.new-flex{
    margin-top: 60px;
}

.top-m{
     margin-top: 50px;
}
.sticky-header{
   position: fixed;
   top: 0px;
}

#uploading-proces{
    display: none;
}
.txt-fnt{
    font-size: 29px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 10px;
}
.new-fnt{
    font-size: 29px;
    margin-left: 10px;
}

#new-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#delete-txt{
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
}

#ch-mail,.set-display-flex{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 7px;
}
.flx-metadata{
    margin-top: 2px;
    height: fit-content;
    width: 90%;
    display: inline-block;

}
#loadscreen{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview-image{
    width: 100%;
    height: auto; 
 
}
.preview-audio{
    width: 100%;
    height: 30px;
}

.name-netowork{
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
   font-size: 25px;
   margin-left: -40px;
   margin-top: 20px;
}
.video{
    height:fit-content;
    width: 250px;
}

.post-options2{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: column;
    margin-top: 10px;
}
.radiustht{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.fa-bookmark:active,.fa-bookmark:active{
    animation: save 885ms ;
}

@keyframes save{
    0%{opacity: 0;}
    100%{opacity: 1;color: gray;}
}


.active-popop{
   color: transparent;
    animation: appear 1s ease-in-out;
    pointer-events: none;
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background: linear-gradient(to right, hsl(249, 81%, 85%), #ffffff); 
    color: navy;
}
.active-popop h3{font-size: small;}
.not-active{
   display: none;
    width: 100%;
    position: absolute;
    text-align: center;
}

@keyframes appear {
    
    from
    {
        display: flex; width: 100%; 
        bottom: 0px;   
        opacity: 1;
    }
    to{
           
        bottom: 130px;   
        opacity: 0;
        }
}
.show-user-saved{
    display: flex;
    flex-direction: column;   
     position: relative;
}

.saved-image{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    animation: appear-image 1s ease-in-out;
}
@keyframes appear-image {
    
    from
    {
        display: none;   
    }
    to{
        display: flex;         
    }
}
#delete,#logoutbtn,#mail-update-btn{background-color: red;}
#delete:hover,#logoutbtn:hover,#mail-update-btn:hover{
    background-color: darkred;
}
/* .flex-down:hover{
    background:  rgba(221, 220, 220, 0.8); 
} */
.new-load{
    width: fit-content;
    border-radius: 50%;
    animation: pulse-up 1s ease infinite;
}
@keyframes pulse-up{
    0%{
        box-shadow: 0 0 0 10px rgba(212, 0, 255, 0.2);      
    }

    100%{
        box-shadow: 0 0 0 50px rgba(38, 0, 173, 0.2);
    }
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: black;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

 .current-page{
    background: linear-gradient(to right, #333399 0%, #ff00cc 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }

.chat-app{
    margin-top: 50px;
    position: absolute;
    left: 40%;
}

.all-content{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
 /*------------chating*/ 
#chat-box{
    width: 100%;
    background:  rgba(255, 255, 255, 0.9);
    color: white;
    height: 600px;
    overflow-y: auto;
    padding-bottom: 10px;
    overflow-x: hidden;
   
}
.text-box-div{
    width: 550px;
    height: 650px;
    display: flex;
    flex-direction: column; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.text-field{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50px;
    background:  rgba(255, 255, 255, 0.9);
}
.input-message-to-client{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: transparent;
    border: 1px solid grey;
    border-right: none;
    height: 26px;
    width: 70%;
    outline: none;
}
.send-message-to-client-button{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: transparent;
    border: 1px solid grey;
    border-left: none;
    height: 30px;
    font-size: 14px;
    padding: 4px;
    width: 100px;
    margin-left: -30px;
    font-weight: 900;
    background: linear-gradient(to right, #333399 0%, #ff00cc 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.input-message-to-client:active,.input-message-to-client:focus,.send-message-to-client-button:focus{
    outline: none;
}
/*chat style-------------*/
.user-profile-image-in-chat{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.user-message{
    display: block;
    background: linear-gradient(to top, #333399, #ff00cc);
    padding: 7px;
    border-radius: 10px;
    max-width: 236px;
    height: auto;
    margin: 0px;
    margin-left: 5px;
    color: white;
}

.message-and-image{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    margin-top: -15px;
}

.message-box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 10px;
    width: fit-content;
    max-width: 260px;
    position: relative;
    left: 0%;
}

.username-in-chat{
    margin-left: 31px;
    color: rgb(107, 107, 107);
}
.my-message{
    margin-top: 20px;
   
    margin-left: 10px;
 
    width: 260px;
    position:relative;
    left: 49%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-content: flex-end;
    text-align: right;

}